**Library Loading of Dataset (Panda)**

In [126]:
import pandas as P

Data Open in Python

In [127]:
D = P.read_csv("Nigeria Crash Data.csv")

Watch Columns in Dataset

In [128]:
print(D.columns)

Index(['Quarter', 'State', 'Total_Crashes', 'Num_Injured', 'Num_Killed',
       'Total_Vehicles_Involved', 'SPV', 'DAD', 'PWR', 'FTQ', 'Other_Factors'],
      dtype='object')

Watch Missing Values

In [129]:
Missing_Values = D.isnull().sum()
print(Missing_Values)

Quarter                    0
State                      0
Total_Crashes              0
Num_Injured                0
Num_Killed                 0
Total_Vehicles_Involved    0
SPV                        0
DAD                        0
PWR                        0
FTQ                        0
Other_Factors              0
dtype: int64

Watch Column Data Types

In [130]:
print(D.dtypes)

Quarter                    object
State                      object
Total_Crashes               int64
Num_Injured                 int64
Num_Killed                  int64
Total_Vehicles_Involved     int64
SPV                         int64
DAD                         int64
PWR                         int64
FTQ                         int64
Other_Factors               int64
dtype: object

Make "Quarter" and "State" Column in numeric value

In [131]:
D["Quarter"] = P.to_numeric(D["Quarter"] , errors = "coerce")

In [132]:
D["State"] = P.to_numeric(D["State"] , errors = "coerce")

Watch Again Data Types

In [133]:
print(D.dtypes)

Quarter                    float64
State                      float64
Total_Crashes                int64
Num_Injured                  int64
Num_Killed                   int64
Total_Vehicles_Involved      int64
SPV                          int64
DAD                          int64
PWR                          int64
FTQ                          int64
Other_Factors                int64
dtype: object

Check Negetive Value

In [134]:
Check_Negetive = (D < 0).any ()

In [135]:
print(Check_Negetive)

Quarter                    False
State                      False
Total_Crashes              False
Num_Injured                False
Num_Killed                 False
Total_Vehicles_Involved    False
SPV                        False
DAD                        False
PWR                        False
FTQ                        False
Other_Factors               True
dtype: bool

Make "Other_Factors" Columns Value Positive

In [136]:
D["Other_Factors"] = D["Other_Factors"].abs()

Check The Dataset Outlier

In [137]:
Q1 = D.quantile(0.25)
Q3 = D.quantile(0.75)
IQR = Q3 - Q1

Removing Outlier

In [138]:
Outlier = (D < (Q1 - 1.5 * IQR)) | (D > (Q3 + 1.5 * IQR))
print(Outlier)
print(Outlier.sum())

     Quarter  State  Total_Crashes  Num_Injured  Num_Killed  \
0      False  False          False        False       False
1      False  False          False        False       False
2      False  False          False        False       False
3      False  False          False        False       False
4      False  False          False         True       False
..       ...    ...            ...          ...         ...
513    False  False          False        False       False
514    False  False          False        False       False
515    False  False          False        False       False
516    False  False          False        False       False
517    False  False          False        False       False

     Total_Vehicles_Involved    SPV    DAD    PWR    FTQ  Other_Factors
0                      False  False  False  False  False          False
1                      False  False  False  False  False          False
2                      False  False  False  False  False          False
3                      False  False   True  False  False          False
4                      False  False  False  False  False          False
..                       ...    ...    ...    ...    ...            ...
513                    False  False  False  False  False          False
514                    False  False  False  False  False          False
515                    False  False  False  False  False          False
516                    False  False  False  False  False          False
517                    False  False  False  False  False          False

[518 rows x 11 columns]
Quarter                     0
State                       0
Total_Crashes              33
Num_Injured                22
Num_Killed                 24
Total_Vehicles_Involved    33
SPV                        25
DAD                        55
PWR                        67
FTQ                        81
Other_Factors              31
dtype: int64

In [139]:
L = Q1 - 1.5 * IQR
U = Q3 + 1.5 * IQR
D = D.clip(lower = L, upper = U, axis=1)

Checking Outlier Again

In [140]:
print(L)
print("\n")
print(U)
print("\n")
print(D)

Quarter                        NaN
State                          NaN
Total_Crashes              -86.625
Num_Injured               -256.625
Num_Killed                 -46.125
Total_Vehicles_Involved   -122.125
SPV                        -82.500
DAD                          0.000
PWR                          0.000
FTQ                        -31.500
Other_Factors              -51.125
dtype: float64


Quarter                        NaN
State                          NaN
Total_Crashes              224.375
Num_Injured                684.375
Num_Killed                 116.875
Total_Vehicles_Involved    288.875
SPV                        137.500
DAD                          0.000
PWR                          0.000
FTQ                         52.500
Other_Factors              127.875
dtype: float64


     Quarter  State  Total_Crashes  Num_Injured  Num_Killed  \
0        NaN    NaN           30.0      146.000        31.0
1        NaN    NaN           77.0      234.000        36.0
2        NaN    NaN           22.0       28.000         7.0
3        NaN    NaN           72.0      152.000        20.0
4        NaN    NaN          154.0      684.375        90.0
..       ...    ...            ...          ...         ...
513      NaN    NaN           15.0       32.000         4.0
514      NaN    NaN           24.0      122.000        41.0
515      NaN    NaN           38.0       98.000        17.0
516      NaN    NaN           39.0      234.000        13.0
517      NaN    NaN           13.0       61.000        14.0

     Total_Vehicles_Involved   SPV  DAD  PWR  FTQ  Other_Factors
0                       37.0  19.0    0    0  0.0           18.0
1                       94.0  57.0    0    0  0.0           37.0
2                       24.0  15.0    0    0  1.0            8.0
3                       83.0  43.0    0    0  0.0           39.0
4                      140.0  74.0    0    0  0.0           66.0
..                       ...   ...  ...  ...  ...            ...
513                     21.0  17.0    0    0  0.0            4.0
514                     52.0  41.0    0    0  0.0           11.0
515                     38.0  17.0    0    0  0.0           21.0
516                     55.0  38.0    0    0  0.0           17.0
517                     16.0  14.0    0    0  0.0            2.0

[518 rows x 11 columns]

Checking Categorical Columns (String)

In [141]:
Category = D.select_dtypes(include = "object").columns

In [142]:
print(Category)

Index([], dtype='object')

Applying Label Encoder . I.E : Encoding Data

In [143]:
from sklearn.preprocessing import LabelEncoder

In [144]:
L = LabelEncoder ()

In [145]:
D[Category] = D[Category].apply(L.fit_transform)

Watching Label Encoding Data

In [146]:
print(D[Category])

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, ...]

[518 rows x 0 columns]

Scaling Data for some models (Making large and small numbers equal)

In [147]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()

In [148]:
D.isnull().sum()
D = D.fillna(0)

In [149]:
C = D.select_dtypes(include = "number").columns

In [150]:
D_scaled = D.copy()
D_scaled[C] = scaler.fit_transform(D_scaled[C])

Watching Scaled Values

In [151]:
print(D_scaled)

     Quarter  State  Total_Crashes  Num_Injured  Num_Killed  \
0        0.0    0.0      -0.789933    -0.508843   -0.251305
1        0.0    0.0      -0.023955    -0.033263   -0.091148
2        0.0    0.0      -0.920312    -1.146552   -1.020061
3        0.0    0.0      -0.105442    -0.476417   -0.603651
4        0.0    0.0       1.230946     2.400706    1.638553
..       ...    ...            ...          ...         ...
513      0.0    0.0      -1.034394    -1.124935   -1.116155
514      0.0    0.0      -0.887717    -0.638547    0.069010
515      0.0    0.0      -0.659553    -0.768250   -0.699746
516      0.0    0.0      -0.643256    -0.033263   -0.827872
517      0.0    0.0      -1.066989    -0.968210   -0.795840

     Total_Vehicles_Involved       SPV  DAD  PWR       FTQ  Other_Factors
0                  -0.692582 -0.346619  0.0  0.0 -0.671464      -0.704047
1                   0.019787  0.573584  0.0  0.0 -0.671464      -0.162368
2                  -0.855053 -0.443482  0.0  0.0 -0.621067      -0.989142
3                  -0.117688  0.234562  0.0  0.0 -0.671464      -0.105349
4                   0.594682  0.985254  0.0  0.0 -0.671464       0.664407
..                       ...       ...  ...  ...       ...            ...
513                -0.892546 -0.395051  0.0  0.0 -0.671464      -1.103180
514                -0.505117  0.186130  0.0  0.0 -0.671464      -0.903614
515                -0.680085 -0.395051  0.0  0.0 -0.671464      -0.618519
516                -0.467624  0.113483  0.0  0.0 -0.671464      -0.732557
517                -0.955034 -0.467698  0.0  0.0 -0.671464      -1.160199

[518 rows x 11 columns]

Seperating input and output Features . I.E : Columns (X = Input Features , Columns , Y = Output Features , Columns)

In [152]:
X = D.drop(columns = ["Num_Killed"] , axis = 1)
Y = D["Num_Killed"]

Spliting and training and testing of input and output features . I.E : Columns

In [153]:
from sklearn.model_selection import train_test_split

In [154]:
X_Train , X_Test , Y_Train , Y_Test = train_test_split(X , Y , test_size = 0.2 , random_state = 42)

Printing All Variables X_Train , X_Test , Y_Train , Y_Test

In [155]:
print(X_Train)

     Quarter  State  Total_Crashes  Num_Injured  Total_Vehicles_Involved  \
405      0.0    0.0           50.0        305.0                     64.0
331      0.0    0.0           57.0        237.0                     68.0
220      0.0    0.0           26.0        133.0                     38.0
148      0.0    0.0           21.0         57.0                     27.0
301      0.0    0.0            8.0         17.0                      9.0
..       ...    ...            ...          ...                      ...
71       0.0    0.0           67.0        213.0                    104.0
106      0.0    0.0           26.0         65.0                     29.0
270      0.0    0.0           60.0        133.0                      5.0
435      0.0    0.0           68.0        161.0                    102.0
102      0.0    0.0          114.0        299.0                    148.0

      SPV  DAD  PWR   FTQ  Other_Factors
405  36.0    0    0   0.0           28.0
331  25.0    0    0   0.0           43.0
220   0.0    0    0  21.0           17.0
148   0.0    0    0   8.0           17.0
301   4.0    0    0   0.0            5.0
..    ...  ...  ...   ...            ...
71   31.0    0    0   0.0           73.0
106  13.0    0    0   0.0           16.0
270   0.0    0    0  44.0           40.0
435  68.0    0    0   4.0           30.0
102  90.0    0    0   1.0           55.0

[414 rows x 10 columns]

In [156]:
print(X_Test)

     Quarter  State  Total_Crashes  Num_Injured  Total_Vehicles_Involved  \
176      0.0    0.0          134.0        247.0                  162.000
132      0.0    0.0           54.0        159.0                   58.000
6        0.0    0.0           77.0        177.0                   81.000
84       0.0    0.0           29.0         82.0                   35.000
456      0.0    0.0           24.0         37.0                   42.000
..       ...    ...            ...          ...                      ...
302      0.0    0.0           73.0        225.0                   77.000
371      0.0    0.0           57.0        175.0                   61.000
471      0.0    0.0          202.0        521.0                  288.875
391      0.0    0.0           37.0         89.0                   32.000
380      0.0    0.0           48.0         97.0                   53.000

       SPV  DAD  PWR   FTQ  Other_Factors
176    0.0    0    0  52.5           65.0
132    0.0    0    0  41.0           16.0
6     81.0    0    0   0.0            0.0
84    20.0    0    0   0.0           15.0
456   30.0    0    0   0.0           11.0
..     ...  ...  ...   ...            ...
302   52.0    0    0   0.0           24.0
371   39.0    0    0   0.0           22.0
471  137.5    0    0   0.0          115.0
391   26.0    0    0   0.0            6.0
380   35.0    0    0   0.0           18.0

[104 rows x 10 columns]

In [157]:
print(Y_Train)

405    32.0
331    35.0
220    63.0
148     3.0
301     1.0
       ...
71     12.0
106     6.0
270    28.0
435    44.0
102    47.0
Name: Num_Killed, Length: 414, dtype: float64

In [158]:
print(Y_Test)

176     62.0
132     59.0
6       25.0
84      15.0
456      2.0
       ...
302     24.0
371      5.0
471    102.0
391     24.0
380     43.0
Name: Num_Killed, Length: 104, dtype: float64

Checking Null or Empty value finaly

In [159]:
C_Final_Null = D.isnull().sum()
print(C_Final_Null)

Quarter                    0
State                      0
Total_Crashes              0
Num_Injured                0
Num_Killed                 0
Total_Vehicles_Involved    0
SPV                        0
DAD                        0
PWR                        0
FTQ                        0
Other_Factors              0
dtype: int64

Checking Text Value Finaly

In [160]:
C_Final_Text = D.select_dtypes(include = "object").columns

Watching text value finally

In [161]:
print(C_Final_Text)

Index([], dtype='object')

Saving CSV file of new dataset with Updated all columns not dropping
File Name : Nigeria Crash Data Update With all Columns

In [162]:
Save_File = D.to_csv("Nigeria Crash Data Update With all Columns.csv")